<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>Notes | Taking</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'MyAppStatic/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'MyAppStatic/css/deleteNotes.css' %}">
    <link rel="icon " href="{% static 'MyAppStatic/media/notes_taiking.png' %}">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&family=Prociono&display=swap');
    </style>
</head>
<body>
 <form method="POST">
        {% csrf_token %}
        <h2>Are you sure to delete this <u style="color:red">{{heading}}</u> notes ? </h2><br>
         <input type="image" src="{% static 'MyAppStatic/media/yes_icon.png' %}" alt="Delete" width="45px" height="45px">
        <a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'MyAppStatic/media/home_icon.png' %}" height="20px" width="20px"></a>
    </form>
</body>
</html>